@{
    Layout = "_Layout";
}

<div class="container">
    <div class="card">
        <h1>Welcome to the Library</h1>
        <p>@Html.ActionLink()</p>
        <p>@Html.ActionLink()</p>
        <p>@Html.ActionLink()</p>
        <p>@Html.ActionLink()</p>
    </div>
</div>